﻿.k-grid td {
    border-style: solid;
    border-width: 0 0 0 1px;
    line-height: 1.6em;
    overflow: hidden;
    padding: 0.4em 0.6em;
    text-overflow: ellipsis;
    vertical-align: middle;
    background: none repeat scroll 0 0 #F2F6FF;
    border: 1px dashed #8B94D9;
    color:#000;
}

.k-grid th{
    border-style: solid;
    border-width: 0 0 0 1px;
    line-height: 1.6em;
    overflow: hidden;
    padding: 0.4em 0.6em;
    text-overflow: ellipsis;
    vertical-align: middle;
     background: none repeat scroll 0 0 #5170a7;
    border: 1px solid #6a8bc6;
    color: #FFFFFF;
    margin-top: 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    color:#fff;
}
div.k-grid-header, div.k-grid-footer 
{
    background: none repeat scroll 0 0 #5170a7;
    border: 1px solid #6a8bc6;
    color: #FFFFFF;
    margin-top: 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-right: 17px;
    color:#fff;
}