
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,400,500,600,600i,700,800,900,900i&display=swap');


body {
    font-family: 'Poppins';
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    background: #f2f3f8;
}

/*Login Page*/
body.login-page {
    background-image: url('../images/reception-area.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.login {
    position: relative;
    right: auto;
    top: 0px;
}

.login-form {
    width: 400px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    -moz-box-shadow: 0 0 13px 0 rgba(82,63,105,.05));
    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
}

.login-form .top {
    padding: 0px 20px;
    font-size: 20px;
    text-align: center;
    color: #595d6e;
    margin-bottom: 30px;
}

.login-form .content {
    padding: 0px 20px;
}

.login-form .content .input {
    width: 100%;
    padding: 20px 15px;
    color: #495057;
    text-shadow: none;
    background: #fff;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.login-form .content .input:hover {
    background: none;
    color: #495057;
}

.login-form .content .input:focus {
    color: #495057;
    background: none;
    box-shadow: none;
    border: 1px solid #e2e5ec;
}

.login-form .login_footer .button {
    font-family: 'Poppins';
    height: 50px;
    width: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
        
    -webkit-box-shadow: 0 9px 16px 0 rgba(93,120,255,.25) !important;
    box-shadow: 0 9px 16px 0 rgba(93,120,255,.25) !important;

    color: #fff;
    background-color: #4f51d9;
    border-color: #4f51d9;

    font-size: 13px;
    line-height: 1.5;
    border-radius: .25rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-shadow: none;
    float: none;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.login-form .login_footer .button:hover {
    color: #fff;
    background-color: #333490;
    border-color: #333490;
}

.login-form .login_footer .button:focus {
    color: #fff;
    background-color: #333490;
    border-color: #333490;
    -webkit-box-shadow: 0 0 0 .2rem rgba(117,140,255,.5);
    box-shadow: 0 0 0 .2rem rgba(117,140,255,.5);
}

.login-form .content .password, .login-form .content .pass-icon {
    margin-top: 15px;
}

.login-form .login_footer {
    background: none;
    border: none;
    box-shadow: none;
    padding: 35px 20px 20px 20px;
    text-align: center;
}

.login-form .red-left {
    background: none;
    color: #ce2700;
    font-family: 'Poppins';
    font-weight: normal;
    vertical-align: top;
    padding: 0;
    font-size: 10px;
    width: 100%;
}

.red-left a {
    color: #ce2700;
    font-family: 'Poppins';
    font-weight: normal;
    vertical-align: top;
    text-decoration: none;
}

.login-logo {
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}
/*End Login Page*/

.header {
    background: #2f3087;
    border: none;
    width: 100%;
}

.leftmenupanel {
    background: #1f1f2d;
    height: 100%;
    position: fixed;
    width: 240px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    z-index: 9;
}

.content-wrapper {
    position: absolute;
    padding-left: 240px;
    width: 100%;
    top: 60px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.maincontentarea {
    width: 100%;   
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /*-webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);*/
    margin-bottom: 20px;
    border-radius: 4px;
    margin-top: 0;
    background: none;
    box-shadow: none;
    min-height: 100%;
}

.maincontentarea .pf-content {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
}

.logo {
    background-image: url(../images/perfetti-logo.png);
    background-size: 122px;
    background-position: 14px 4px;
    height: 90px;
}

.leftmenupanel #mainnav {
    width: 100%;
    padding-top:10px;
} 

.leftmenupanel #mainnav > ul {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.leftmenupanel ul li {
    height: auto;
    padding-left: inherit;
    text-align: left;
    margin-bottom: 0px !important;
}

#mainnav > ul > li > a {
    font-size: 13px;
    color: #a2a3b7;
    font-weight: 300;
     text-align: left;
     padding: 12px 25px;
}

#mainnav > ul > li > a:hover {
    background-color: #1b1b28;
    color: #fff;
}

#mainnav > ul > li.active a {
    background-color: #1b1b28;
    color: #fff;
}

#mainnav > ul > li.active > a > .icon .fs1 {
    color: #5d78ff;
}

#mainnav > ul > li:hover > a > .icon .fs1 {
    color: #5d78ff;
}

#mainnav > ul > li > a > .icon {
    display: inline-block;
}

    #mainnav > ul > li > a > .icon .fs1 {
        padding-right: 10px;
        color: #494b74;
    }

#mainnav > ul > li [data-icon]:before {
    font-size:16px;
}

#mainnav > ul > li .current-arrow {
    right: -20%;
    z-index: 999;
    background: #333;
    top: 12px;
    display: none;
}

.maincontentarea_topbar {
    border-bottom: 1px solid #ebedf2;
    border-top: none;
    background: transparent;
    margin-bottom: 30px;
}

.breadcrumb-beauty {
    margin-left: 0px;
    margin-top: 0px;
}

.breadcrumb-beauty li a {
    background: #e40a1a;
}

.breadcrumb-beauty li a:after {
    border-left: 30px solid #e40a1a;
}

.divcontectmainforms .barchart-btn {
    border-bottom: 2px solid #ebedf2 !important;
    width: 100% !important;
    padding: 8px 0px !important;
    text-align: right !important;
    height: auto !important;
    margin: 0 !important;
}

#megamenu {
    border: none;
    background: url("../images/profile_icon.png") no-repeat scroll 10px 35%;
    height: 30px;
    margin-right: 20px;
}

#megamenu li .drop {
    height: 40px;
    padding-right: 30px;
}

#megamenu li:hover .align_right {
    right: 20px;
    top: 30px;
}

.dropdown_1column {
    border: none;
    padding: 10px;
    width: 230px;

    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.2);
    box-shadow: 0 0 13px 0 rgba(82,63,105,.2);
}

.dropdown_1column .col_1 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

#cssmenu > ul {
    width: 100%;
}

#megamenu li ul {
    margin: 0px;
}

#megamenu li ul li {
    text-shadow: none;
}

#cssmenu > ul li a {
    color: #595d6e !important;
    border-bottom: 1px solid #ebedf2;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px 10px;
    background: #fff;
}

#megamenu li:hover div a:hover {
    background: #e40a1a;
    color: #fff !important;
}

#cssmenu > ul li:hover > ul {
    -webkit-box-shadow: 0 0 13px 0 rgba(82,63,105,.2);
    box-shadow: 0 0 13px 0 rgba(82,63,105,.2);
    padding: 0;
    z-index: 99;
}

#cssmenu > ul .has-sub > a:before {
    top: 15px;
}

#cssmenu > ul .has-sub > a:after {
    top: 15px;
}

.toolbar {
    border-top: none;
    border-bottom: 1px solid #ebedf2;
    margin-bottom: 40px;
    padding: 0px 0px 15px 0px;
}

.toolbar_container {
    border-top: none;
    border-bottom: 1px solid #ebedf2;
    margin-bottom: 40px;
    padding: 0px 0px 67px 0px;
    height: auto;
}

.toolbar_left {
    padding: 0px;
}

.formtextdiv {
    width: 20%;
}

.formtextdiv select {
    width: 100%;
}

/* Input */
input, select {
    box-shadow: none;
    background: #fff;
    height: 32px;
    font-size: 12px;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
    color: #495057;
    padding: 0 10px;
}
    
textarea {
    box-shadow: none;
    background: #fff;
    font-size: 12px;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
    color: #495057;
    padding: 0 10px;
}


input:focus, textarea:focus, select:focus {
    box-shadow: none;
    color: #495057;
    background-color: #fff;
    border-color: #9aabff;
}

.k-picker-wrap .k-input {
    font-size: 12px !important;
    height: 32px !important;
    padding: 0 10px !important;
    border-radius: 4px !important;
}

.k-datepicker .k-select {
    height: 32px !important;
}

.k-state-default.k-state-hover, .k-state-default.k-state-focused {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 100%);
    border-color: #9aabff !important;
    box-shadow: none !important;
}

.input-large1 {
    width: 200px;
}

.input-large1-select {
    width: 225px;
}

fieldset div {
    overflow: inherit;
}




/* Table */
.k-pager-wrap > .k-link {
    border-radius: 3px;
    color: #93a2dd;
    background: #f0f3ff;
    opacity: .3;
}

.k-pager-numbers .k-state-selected {
    border-radius: 3px;
    border: none;
    background: #5d78ff !important;
    color: #fff;
}

.k-grid .k-pager-numbers {
    margin: 0 10px;
}

.k-pager-numbers .k-link.k-state-hover, .k-pager-numbers .k-link:hover {
    color: #93a2dd !important;
}

.k-pager-numbers .k-link {
     color: #93a2dd !important;
}

 .k-pager-numbers .k-link.k-state-hover, .k-pager-numbers .k-link:hover {
        border-radius: 3px;
        border: none;
        background: #5d78ff !important;
        color: #fff !important;
    }

.k-grid-header .k-header {
    padding: 8px 12px;
}

.k-grid-pager {
    background: #fff !important;
}

.k-group, .k-toolbar, .k-grouping-header, .k-pager-wrap, .k-group-footer td, .k-grid-footer, .k-footer-template td, .k-widget .k-status, .k-grouping-row td, td.k-group-cell, .k-calendar th, .k-dropzone-hovered, .k-upload-files, .k-widget.k-popup {
    background-image: linear-gradient(to bottom, #ffffff 0px, #ffffff 100%);
}

.k-header, .k-grid-header, .k-toolbar, .k-dropdown-wrap, .k-picker-wrap, .k-numeric-wrap, .k-grouping-header, .k-pager-wrap, .k-textbox, .k-button, .k-draghandle, .k-autocomplete, .k-state-highlight, .k-tabstrip-items .k-item {
     background-image: linear-gradient(to bottom, #ffffff 0px, #ffffff 100%)
}

.k-grid tr.k-alt {
    background-color: rgba(0,0,0,.02) !important;
}

.k-grid tbody tr.k-state-hover, .k-grid tbody tr:hover {
    background-color: #ededed !important;
}



/* Tile Box */

.tile-box-wrap {
    margin-right: -10px;
    margin-left: -10px;
    height: 240px;
}

.tile-box-wrap .tile-box {
    padding-left: 10px;
    padding-right: 10px;
    width: 25%;
    float: left;
    position: relative;
}

.tile-box-wrap .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(26,54,126,0.125);
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
    border-radius: .25rem;

    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03),0 0.9375rem 1.40625rem rgba(4,9,20,0.03),0 0.25rem 0.53125rem rgba(4,9,20,0.05),0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    border-width: 0;
    transition: all .2s;
}

.tile-box-wrap .widget-content {
    padding: 40px 20px;
    flex-direction: row;
    align-items: center;
}

.tile-box-wrap .bg-pink {
    background: linear-gradient(60deg, #ec407a, #d81b60);
}

.tile-box-wrap .bg-green {
    background: linear-gradient(60deg, #66bb6a, #43a047);
}

.tile-box-wrap .bg-blue {
    background: linear-gradient(60deg, #26c6da, #00acc1);
}

.tile-box-wrap .bg-yellow {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
}

.tile-box-wrap .widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}

.tile-box-wrap .text-white {
    color: #fff !important;
}

.tile-box-wrap .widget-content .widget-content-right {
    margin-left: auto;
}

.tile-box-wrap .widget-content .widget-content-left .widget-heading {
    font-size: 20px;
}

.tile-box-wrap .widget-content .widget-content-left .widget-subheading {
    opacity: .6;
}

.tile-box-wrap .widget-content .widget-numbers {
    font-weight: bold;
    font-size: 1.8rem;
    display: block;
}

/* Button */
a.sprite_button, sprite_button, .savebtn, .add_options, .leadentry_title_bar .back, .k-button, .title_bar .back {
    font-family: 'Poppins';
    height: 40px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: 0 9px 16px 0 rgba(93,120,255,.25) !important;
    box-shadow: 0 9px 16px 0 rgba(93,120,255,.25) !important;
    color: #fff !important;
    background: #4f51d9 !important;
    border-color: #4f51d9 !important;
    font-size: 13px;
    line-height: 40px;
    border-radius: .25rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-shadow: none !important;
    float: none;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

a.sprite_button:hover, sprite_button:hover, .savebtn:hover, .add_options:hover, .leadentry_title_bar .back:hover, .k-button:hover {
    color: #fff !important;
    background-color: #333490 !important;
    border-color: #333490 !important;
}

a.sprite_button:focus, sprite_button:focus, .savebtn:focus, .add_options:focus, .leadentry_title_bar .back:focus, .k-button:focus {
    color: #fff !important;
    background-color: #333490 !important;
    border-color: #333490 !important;
    -webkit-box-shadow: 0 0 0 .2rem rgba(117,140,255,.5) !important;
    box-shadow: 0 0 0 .2rem rgba(117,140,255,.5) !important;
}

.leadentry_title_bar .back {
    background: #4f51d9 url('../../assets/images/back.png') 36px 50% no-repeat !important;
    width: 90px;
}

.title_bar .back {
    background: #4f51d9 url('../../assets/images/back.png') 36px 50% no-repeat !important;
    width: 90px;
}

.toolbar_right {
    padding: 0px;
}

.leadentry_title_bar {
    height: auto;
    line-height: normal;
}

.add_options {
    background: #4f51d9 url('../../assets/images/add_iconbtn.png') 15px 13px no-repeat !important;
    padding-left: 40px;
    background-size: 14px !important;
}

.savebtn {
    background: #4f51d9 url('../../assets/images/savebtn.png') 15px 13px no-repeat !important;
    padding-left: 40px;
    background-size: 14px !important;
}

.k-button {
    padding: 0 15px;
    border-radius: .25rem !important;
}

/* Other */
.toolbar_right {
    width: 20%;
}

.k-calendar .k-content .k-link {
    padding: 0px !important;
}

.k-state-focused, .k-list > .k-state-focused, .k-listview > .k-state-focused, .k-grid-header th.k-state-focused, td.k-state-focused, .k-button:focus, .k-button.k-state-focused {
    box-shadow: none;
}

.k-calendar .k-state-focused .k-link {
     box-shadow: none !important;
     border: 1px solid #ccc;
}

.k-state-hover,
.k-state-hover:hover,
.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover,
.k-list > .k-state-hover,
.k-marquee,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-imagebrowser-dropzone {
  color: #ffffff;
  background-color: #4f51d9;
  background-image: none;
  border-color: rgba(0, 0, 0, 0.14902);
}

.k-calendar .k-state-selected .k-link {
    border: none !important;
}

.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list > .k-state-selected, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-marquee-color {
    background-color: #4f51d9; 
}

nav.menu1 ul li {
    width: 50%;
}

nav.menu1 ul li a {
    display: block;
    margin-right: 10px;
    margin-bottom: 2px;
}

.bg {
    width: auto;
    margin: 15px 0px 0px 0px;
}

.title_bar {
    padding-left: 0px;
}

nav.menu1 ul li a {
    background: #2f3087;
}















.footer {
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    width: 100%;
    height: 46px;
    line-height: 38px;
    /*box-shadow: 0px 0px 4px rgba(82,63,105,.05);*/
    z-index: 99;
    margin-top: 0;
}

footer .copyright {
    background: #fff;
    color: #74788d;
    font-size: 11px;
    padding-left: 20px;
    text-align: left;
}

.loadingdiv {
    background-color: rgba(0,0,0,0.8);
    z-index: 99999;
}

 .windows8 {
position: absolute;
width: 30px;
height: 30px;
z-index: 999;
top: 50%;
left: 50%;
}

.windows8 .wBall {
position: absolute;
width: 29px;
height: 29px;
opacity: 0;
-moz-transform: rotate(225deg);
-moz-animation: orbit 3.8499999999999996s infinite;
-webkit-transform: rotate(225deg);
-webkit-animation: orbit 3.8499999999999996s infinite;
-ms-transform: rotate(225deg);
-ms-animation: orbit 3.8499999999999996s infinite;
-o-transform: rotate(225deg);
-o-animation: orbit 3.8499999999999996s infinite;
transform: rotate(225deg);
animation: orbit 3.8499999999999996s infinite;
}

.windows8 .wBall .wInnerBall{
position: absolute;
width: 4px;
height: 4px;
background: #fff;
left:0px;
top:0px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
}

.windows8 #wBall_1 {
-moz-animation-delay: 0.84s;
-webkit-animation-delay: 0.84s;
-ms-animation-delay: 0.84s;
-o-animation-delay: 0.84s;
animation-delay: 0.84s;
}

.windows8 #wBall_2 {
-moz-animation-delay: 0.17s;
-webkit-animation-delay: 0.17s;
-ms-animation-delay: 0.17s;
-o-animation-delay: 0.17s;
animation-delay: 0.17s;
}

.windows8 #wBall_3 {
-moz-animation-delay: 0.34s;
-webkit-animation-delay: 0.34s;
-ms-animation-delay: 0.34s;
-o-animation-delay: 0.34s;
animation-delay: 0.34s;
}

.windows8 #wBall_4 {
-moz-animation-delay: 0.5s;
-webkit-animation-delay: 0.5s;
-ms-animation-delay: 0.5s;
-o-animation-delay: 0.5s;
animation-delay: 0.5s;
}

.windows8 #wBall_5 {
-moz-animation-delay: 0.67s;
-webkit-animation-delay: 0.67s;
-ms-animation-delay: 0.67s;
-o-animation-delay: 0.67s;
animation-delay: 0.67s;
}

@-moz-keyframes orbit {
0% {
opacity: 1;
z-index:99;
-moz-transform: rotate(-180deg);
-moz-animation-timing-function: ease-out;
}

7% {
opacity: 1;
-moz-transform: rotate(-300deg);
-moz-animation-timing-function: linear;
-moz-origin:0%;
}

30% {
opacity: 1;
-moz-transform:rotate(-410deg);
-moz-animation-timing-function: ease-in-out;
-moz-origin:7%;
}

39% {
opacity: 1;
-moz-transform: rotate(-645deg);
-moz-animation-timing-function: linear;
-moz-origin:30%;
}

70% {
opacity: 1;
-moz-transform: rotate(-770deg);
-moz-animation-timing-function: ease-out;
-moz-origin:39%;
}

75% {
opacity: 1;
-moz-transform: rotate(-900deg);
-moz-animation-timing-function: ease-out;
-moz-origin:70%;
}

76% {
opacity: 0;
-moz-transform:rotate(-900deg);
}

100% {
opacity: 0;
-moz-transform: rotate(-900deg);
}

}

@-webkit-keyframes orbit {
0% {
opacity: 1;
z-index:99;
-webkit-transform: rotate(-180deg);
-webkit-animation-timing-function: ease-out;
}

7% {
opacity: 1;
-webkit-transform: rotate(-300deg);
-webkit-animation-timing-function: linear;
-webkit-origin:0%;
}

30% {
opacity: 1;
-webkit-transform:rotate(-410deg);
-webkit-animation-timing-function: ease-in-out;
-webkit-origin:7%;
}

39% {
opacity: 1;
-webkit-transform: rotate(-645deg);
-webkit-animation-timing-function: linear;
-webkit-origin:30%;
}

70% {
opacity: 1;
-webkit-transform: rotate(-770deg);
-webkit-animation-timing-function: ease-out;
-webkit-origin:39%;
}

75% {
opacity: 1;
-webkit-transform: rotate(-900deg);
-webkit-animation-timing-function: ease-out;
-webkit-origin:70%;
}

76% {
opacity: 0;
-webkit-transform:rotate(-900deg);
}

100% {
opacity: 0;
-webkit-transform: rotate(-900deg);
}

}

@-ms-keyframes orbit {
0% {
opacity: 1;
z-index:99;
-ms-transform: rotate(-180deg);
-ms-animation-timing-function: ease-out;
}

7% {
opacity: 1;
-ms-transform: rotate(-300deg);
-ms-animation-timing-function: linear;
-ms-origin:0%;
}

30% {
opacity: 1;
-ms-transform:rotate(-410deg);
-ms-animation-timing-function: ease-in-out;
-ms-origin:7%;
}

39% {
opacity: 1;
-ms-transform: rotate(-645deg);
-ms-animation-timing-function: linear;
-ms-origin:30%;
}

70% {
opacity: 1;
-ms-transform: rotate(-770deg);
-ms-animation-timing-function: ease-out;
-ms-origin:39%;
}

75% {
opacity: 1;
-ms-transform: rotate(-900deg);
-ms-animation-timing-function: ease-out;
-ms-origin:70%;
}

76% {
opacity: 0;
-ms-transform:rotate(-900deg);
}

100% {
opacity: 0;
-ms-transform: rotate(-900deg);
}

}

@-o-keyframes orbit {
0% {
opacity: 1;
z-index:99;
-o-transform: rotate(-180deg);
-o-animation-timing-function: ease-out;
}

7% {
opacity: 1;
-o-transform: rotate(-300deg);
-o-animation-timing-function: linear;
-o-origin:0%;
}

30% {
opacity: 1;
-o-transform:rotate(-410deg);
-o-animation-timing-function: ease-in-out;
-o-origin:7%;
}

39% {
opacity: 1;
-o-transform: rotate(-645deg);
-o-animation-timing-function: linear;
-o-origin:30%;
}

70% {
opacity: 1;
-o-transform: rotate(-770deg);
-o-animation-timing-function: ease-out;
-o-origin:39%;
}

75% {
opacity: 1;
-o-transform: rotate(-900deg);
-o-animation-timing-function: ease-out;
-o-origin:70%;
}

76% {
opacity: 0;
-o-transform:rotate(-900deg);
}

100% {
opacity: 0;
-o-transform: rotate(-900deg);
}

}

@keyframes orbit {
0% {
opacity: 1;
z-index:99;
transform: rotate(-180deg);
animation-timing-function: ease-out;
}

7% {
opacity: 1;
transform: rotate(-300deg);
animation-timing-function: linear;
origin:0%;
}

30% {
opacity: 1;
transform:rotate(-410deg);
animation-timing-function: ease-in-out;
origin:7%;
}

39% {
opacity: 1;
transform: rotate(-645deg);
animation-timing-function: linear;
origin:30%;
}

70% {
opacity: 1;
transform: rotate(-770deg);
animation-timing-function: ease-out;
origin:39%;
}

75% {
opacity: 1;
transform: rotate(-900deg);
animation-timing-function: ease-out;
origin:70%;
}

76% {
opacity: 0;
transform:rotate(-900deg);
}

100% {
opacity: 0;
transform: rotate(-900deg);
}

}


/* -------------------------------- 
xpopup 
-------------------------------- */

.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.cd-popup-container p {
    padding: 3em 1em;
}

.cd-popup-container p textarea {
    width: 100%;
    }

.cd-popup-container .cd-buttons {
    padding: 0px;
}

.cd-popup-container .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
}

.cd-popup-container .cd-buttons li {
    float: left;
    width: 50%;
    list-style: none;
}

.cd-popup-container .cd-buttons button {
    display: block;
    height: 60px;
    line-height: 60px;
    width:100%;
    font-size: 14px;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.cd-popup-container .cd-buttons li:first-child button {
    background: #e40a1a;
    border-radius: 0 0 0 .25em;
}

.no-touch .cd-popup-container .cd-buttons li:first-child button:hover {
    background-color: #fc8982;
}

.cd-popup-container .cd-buttons li:last-child button {
    background: #b6bece;
    border-radius: 0 0 .25em 0;
}

.no-touch .cd-popup-container .cd-buttons li:last-child button:hover {
    background-color: #c5ccd8;
}


/* 
.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
} 

.cd-popup-container .cd-popup-close::before,
.cd-popup-container .cd-popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}

.cd-popup-container .cd-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}

.cd-popup-container .cd-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}
*/

.is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

@media only screen and (min-width: 1170px) {
    .cd-popup-container {
        margin: 8em auto;
    }
}















