﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Site.master" CodeFile="DropDownTest.aspx.cs" Inherits="lead_customer_transaction_DropDownTest" %>
<%@ MasterType TypeName="SiteMaster" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
<%--        <input id="cmbMailingAddresses2" style="width: 200px;" />--%>
    </div>
    </form>
  <%--  <script type="text/javascript">
        $(document).ready(function () {
            debugger;   
            $("#cmbMailingAddresses2").kendoDropDownList({
                autoBind: false,
                dataSource: {
                    transport: {
                        read: {
                            url: ROOT_PATH + "service/lead_customer/common.asmx/GetAddressDropdownData",
                            contentType: "application/json; charset=utf-8",
                            type: "POST",
                            data: { custCode: '5WADANV0' }
                        },
                        parameterMap: function (data, operation) {
                            //data = $.extend( data);
                            return JSON.stringify(data);
                        }
                    },
                    schema: {
                        data: "d"
                    }
                },
                select: onSelect,
                optionLabel: "-Please Select-"
            });
        });
    </script>--%>
</body>
</html>
